<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Delay Predictor</title>
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/css/FlightDelayPredictor.css">
</head>
<body class="bg-dark">
	<div class="wrapper">
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg article-section">
            <a class="navbar-brand" href="index.html">Flight Delay Predictor</a>
        </nav>
        <div class="jumbotron justify-content-center bg-dark">
            <h1 class="display-5">Flight Delay Predictiction</h1>
            <p class="lead">Choose Travel Origin, Destination, Airline, and Travel Date</p>
            <hr class="my-2">
            <p>Disclaimer Garbage In Garbage Out</p>
        </div>
        <div class="container-fluid">
             <div class="row">
                <div class="col-md-6">
                    <img src="static/images/airline_system_map.png" height="400" width="800">
                </div>
                <div class="col-md-6">
                    <form>
                        <div>
                            <label for="origin_states">Origin State</label>
                            <select class="custom-select text-white bg-dark select-state" id="origin_states"></select>
                        </div>
                        <div>
                            <label for="origin_airports">Origin Airport</label>
                            <select class="custom-select text-white bg-dark select-airport" id="origin_airports"></select>
                        </div>
                        <div>
                            <label for="dest_states">Destination State</label>
                            <select class="custom-select text-white bg-dark select-state" id="dest_states"></select>
                        </div>
                        <div>
                            <label for="dest_aiports">Destination Airport</label>
                            <select class="custom-select text-white bg-dark select-airport" id="dest_airports"></select>
                        </div>
                        <div>
                            <label for="dest_airlines">Airline</label>
                            <select class="custom-select text-white bg-dark" id="dest_airlines"></select>
                        </div>
                        <div>
                            <label for="dest_dates">Travel Date</label>
                            <select class="custom-select text-white bg-dark select-dates" id="dest_dates"></select>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tbody>
                                <tr>
                                    <td id="flight_delay_col_500_AM">5:00 AM</td><td id="flight_delay_col_530_AM">5:30 AM</td>
                                    <td id="flight_delay_col_600_AM">6:00 AM</td><td id="flight_delay_col_630_AM">6:30 AM</td>
                                    <td id="flight_delay_col_700_AM">7:00 AM</td><td id="flight_delay_col_730_AM">7:30 AM</td>
                                    <td id="flight_delay_col_800_AM">8:00 AM</td><td id="flight_delay_col_830_AM">8:30 AM</td>
                                    <td id="flight_delay_col_900_AM">9:00 AM</td><td id="flight_delay_col_930_AM">9:30 AM</td>
                                    <td id="flight_delay_col_1000_AM">10:00 AM</td><td id="flight_delay_col_1030_AM">10:30 AM</td>
                                    <td id="flight_delay_col_1100_AM">11:00 AM</td><td id="flight_delay_col_1130_AM">11:30 AM</td>
                                    <td id="flight_delay_col_1200_PM">12:00 PM</td><td id="flight_delay_col_1230_PM">12:30 PM</td>
                                    <td id="flight_delay_col_100_PM">1:00 PM</td><td id="flight_delay_col_130_PM">1:30 PM</td>
                                    <td id="flight_delay_col_200_PM">2:00 PM</td><td id="flight_delay_col_230_PM">2:30 PM</td>
                                    <td id="flight_delay_col_300_PM">3:00 PM</td><td id="flight_delay_col_330_PM">3:30 PM</td>
                                    <td id="flight_delay_col_400_PM">4:00 PM</td><td id="flight_delay_col_430_PM">4:30 PM</td>
                                    <td id="flight_delay_col_500_PM">5:00 PM</td><td id="flight_delay_col_530_PM">5:30 PM</td>
                                    <td id="flight_delay_col_600_PM">6:00 PM</td><td id="flight_delay_col_630_PM">6:30 PM</td>
                                    <td id="flight_delay_col_700_PM">7:00 PM</td><td id="flight_delay_col_730_PM">7:30 PM</td>
                                    <td id="flight_delay_col_800_PM">8:00 PM</td><td id="flight_delay_col_830_PM">8:30 PM</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <script id="jscript-file-app" src="/static/js/FlightDelayPredictor.js"></script>
</body>
</html>