<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Delay Predictor</title>
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/css/FlightDelayPredictor.css">
</head>
<body class="bg-dark">
	<div class="wrapper">
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg article-section">
            <a class="navbar-brand" href="index.html">Flight Delay Predictor</a>
        </nav>
        <div class="jumbotron justify-content-center bg-dark">
            <h1 class="display-5">Flight Delay Predictiction</h1>
            <p class="lead">Choose Travel Origin, Destination, Airline, and Travel Date</p>
            <hr class="my-2">
            <p>Disclaimer Garbage In Garbage Out</p>
        </div>
        <div class="container-fluid";>
             <div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="bg-dark">
                            <label class="label-states" for="origin_states">Origin State</label>
                            <select class="custom-select text-white bg-dark select-states" id="origin_states"></select>
                             <label class="label-airports" for="origin_airports">Origin Airport</label>
                            <select class="custom-select text-white bg-dark select-airports" id="origin_airports"></select>
                        </div>
                        <div class="bg-dark">
                            <label class="label-states" for="dest_states">Destination State</label>
                            <select class="custom-select text-white bg-dark select-states" id="dest_states"></select>
                            <label class="label-airports" for="dest_aiports">Destination Airport</label>
                            <select class="custom-select text-white bg-dark select-airports" id="dest_airports"></select>
                        </div>
                        <div class="bg-dark">
                            <label for="dest_airlines" class="label-states">Airline</label>
                            <select class="custom-select text-white bg-dark" id="dest_airlines"></select>
                            <label for="dest_dates" id="label_dest_dates">Travel Date</label>
                            <select class="custom-select text-white bg-dark" id="dest_dates"></select>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="bg-dark" id="flight_data_display">
                            <tbody>
                                <tr>
                                    <td><div id="flight_delay_col_0">5:00 AM</div></td> <td><div id="flight_delay_col_1">5:30 AM</div></td> 
                                    <td><div id="flight_delay_col_2">6:00 AM</div></td> <td><div id="flight_delay_col_3">6:30 AM</div></td> 
                                    <td><div id="flight_delay_col_4">7:00 AM</div></td> <td><div id="flight_delay_col_5">7:30 AM</div></td> 
                                    <td><div id="flight_delay_col_6">8:00 AM</div></td> <td><div id="flight_delay_col_7">8:30 AM</div></td> 
                                    <td><div id="flight_delay_col_8">9:00 AM</div></td> <td><div id="flight_delay_col_9">9:30 AM</div></td> 
                                    <td><div id="flight_delay_col_10">10:00 AM</div></td> <td><div id="flight_delay_col_11">10:30 AM</div></td> 
                                    <td><div id="flight_delay_col_12">11:00 AM</div></td> <td><div id="flight_delay_col_13">11:30 AM</div></td> 
                                    <td><div id="flight_delay_col_14">12:00 PM</div></td> <td><div id="flight_delay_col_15">12:30 PM</div></td> 
                                </tr>
                                <tr>
                                    <td><div id="flight_delay_col_16">1:00 PM</div></td> <td><div id="flight_delay_col_17">1:30 PM</div></td> 
                                    <td><div id="flight_delay_col_18">2:00 PM</div></td> <td><div id="flight_delay_col_19">2:30 PM</div></td> 
                                    <td><div id="flight_delay_col_20">3:00 PM</div></td> <td><div id="flight_delay_col_21">3:30 PM</div></td> 
                                    <td><div id="flight_delay_col_22">4:00 PM</div></td> <td><div id="flight_delay_col_23">4:30 PM</div></td> 
                                    <td><div id="flight_delay_col_24">5:00 PM</div></td> <td><div id="flight_delay_col_25">5:30 PM</div></td> 
                                    <td><div id="flight_delay_col_26">6:00 PM</div></td> <td><div id="flight_delay_col_27">6:30 PM</div></td> 
                                    <td><div id="flight_delay_col_28">7:00 PM</div></td> <td><div id="flight_delay_col_29">7:30 PM</div></td> 
                                    <td><div id="flight_delay_col_30">8:00 PM</div></td> <td><div id="flight_delay_col_31">8:30 PM</div></td> 
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <script id="jscript-file-app" src="/static/js/FlightDelayPredictor.js"></script>
</body>
</html>