body {
    color: #f7f7f7;
}


form div {
    display:block;
    align-content: center;
    padding: 10px;
    font-size: medium;
    width:1000px;
}

.label-states {
    width: 355px;
    text-align: right;
}

.select-states {
    width: 125px;
}

.label-airports {
    width: 150px;
    text-align: right;
}

.select-airports {
    width: 325px;
}

#dest_airlines {
    width: 230px;
}

#dest_dates {
    width: 150px;
    text-align: right;
}

#label_dest_dates {
    width: 100px;
    text-align: right;
}

#flight_data_display td {
    padding:5px;
}

#flight_data_display td div {
    padding:5px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    text-align:right;
    font-size: smaller;
    width:70px;
}

.flight-predict-delay {
    background-color: red;
    color: yellow;
}

.flight-predict-ontime {
    background-color: green;
    color: white;
}

